<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>予算編集画面</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

	<header th:replace="~{conclusion/header}"></header>

	<div id="container">

		<aside th:replace="~{conclusion/sideber}"></aside>

		<main>
			
			<th:block th:if="${errers}">
				<div th:each="errer : ${errers}" th:text="${errer}" class="errer"></div>
			</th:block>

			<form th:action="@{/budgets/{id}/edit(id = ${budget.id})}" method="post">
				<table border="1">
					<tr>
						<th>西暦</th>
						<td>
							<input type="number" name="year" th:value="${budget.year}" placeholder="例：2026">
						</td>
					</tr>
					<tr>
						<th>月</th>
						<td>
							<input type="number" name="month" th:value="${budget.month}" placeholder="1～12の数字">
						</td>
					</tr>
					<tr>
						<th>ジャンル</th>
						<td>
							<select name="genreId">
								<option th:each="genre : ${genres}" th:text="${genre.genreName}" th:value="${genre.id}">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>予算</th>
						<td>
							<input type="number" name="amount" th:value="${budget.amount}">円
						</td>
					</tr>
				</table>
				<div id="edge">
					<a class="return" href="javascript:history.back();">戻る</a>
					<input class="button" type="submit" value="更新">
				</div>
			</form>

		</main>

	</div>

	<footer th:replace="~{conclusion/footer}"></footer>

</body>

</html>