<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>項目追加画面</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	
	<header th:replace="~{conclusion/header}"></header>

	<div id="container">
	
	<aside th:replace="~{conclusion/sideber}"></aside>
	
	<main>

		<form th:action="@{/items/add}" method="post">
			<table border="1">
				<tr>
					<th>日付</th>
					<td>
						<input type="date" name="addDate">
					</td>
				</tr>
				<tr>
					<th>名前</th>
					<td>
						<input type="text" name="itemName">
					</td>
				</tr>
				<tr>
					<th>ジャンル</th>
					<td>
						<select name="genreId">
							<option th:each="genre : ${genres}" th:text="${genre.genreName}" th:value="${genre.id}">
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>金額</th>
					<td>
						<input type="number" name="price">
					</td>
				</tr>
				<tr>
					<th>コメント</th>
					<td>
						<textarea name="comment"></textarea>
					</td>
				</tr>
			</table>
			<input type="submit" value="登録">
		</form>
		
		<a th:href="@{/items}">戻る</a>

	</main>
	
	</div>

	<footer th:replace="~{conclusion/footer}"></footer>
	
</body>

</html>