<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<main>

		<form th:action="@{/items/{id}/edit(id = ${item.id})}" method="post">
			<table border="1">
				<tr>
					<th>日付</th>
					<td>
						<input type="date" name="addDate" th:value="${item.addDate}">
					</td>
				</tr>
				<tr>
					<th>名前</th>
					<td>
						<input type="text" name="itemName" th:value="${item.itemName}">
					</td>
				</tr>
				<tr>
					<th>ジャンル</th>
					<td>
						<select name="genreId">
							<option th:each="genre : ${genres}" th:text="${genre.genreName}" th:value="${genre.id}"
								th:selected="${item.genre.id == genre.id}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<th>金額</th>
					<td>
						<input type="number" name="price" th:value="${item.price}">
					</td>
				</tr>
				<tr>
					<th>コメント</th>
					<td>
						<textarea name="comment" th:value="${item.comment}"></textarea>
					</td>
				</tr>
			</table>
			<input type="submit" value="変更">
		</form>

	</main>

</body>

</html>