<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>家計簿メモ一覧</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

	<header th:replace="~{conclusion/header}"></header>
	
	<div id="container">
	
		<aside th:replace="~{conclusion/sideber}"></aside>
	
		<main>
			
		<nav>
			<div>
				<form th:action="@{/items}" method="get">
					<a th:href="@{/items/add}">＋新規登録</a>
					<div class="leftRight">
						<a th:href="@{/items}">一覧</a>
						<a th:each="genre : ${genres}" th:href="@{/items(genreId = ${genre.id})}"
						th:text="${genre.genreName}"></a>
<!--						<div th:each="genre : ${genres}">-->
<!--							<input type="checkbox" name="genreId" th:value="${genre.id}">-->
<!--							<label th:text="${genre.genreName}"></label>-->
<!--						</div>-->
					</div>
<!--					<input type="month" name="date">-->
<!--					<input type="submit" value="検索">-->
				</form>
			</div>
		</nav>

		<table border="1">
			<tr>
				<th>日付</th>
				<th>名前</th>
				<th>ジャンル</th>
				<th>金額</th>
				<th>コメント</th>
				<th>編集</th>
				<th>削除</th>
			</tr>
			<div></div>
			<tr th:each="item: ${items}">
				<td th:text="${item.addDate}"></td>
				<td th:text="${item.itemName}"></td>
				<td th:text="${item.genre.genreName}"></td>
				<td>
					<span th:if="!${item.genre.isIncome}" th:text="|-${item.price}|"></span>
					<span th:if="${item.genre.isIncome}" th:text="|+${item.price}|"></span>
				</td>
				<td th:text="${item.comment}"></td>
				<td class="center">
					<form th:action="@{/items/{id}/edit(id = ${item.id})}" method="get">
						<button>編集</button>
					</form>
				</td>
				<td class="center">
					<form th:action="@{/items/{id}/delete(id = ${item.id})}" method="post">
						<button>削除</button>
					</form>
				</td>
			</tr>
		</table>

		<p>今月の収支：<span th:text="${totalMonth}"></span>円</p>
		<p>今年の収支：<span th:text="${totalYear}"></span>円</p>
		
		</main>
		
	</div>
		
	<footer th:replace="~{conclusion/footer}"></footer>
	
</body>
</html>

