<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<header th:replace="~{conclusion/header}"></header>
	
	<div id="container">
	
	<aside th:replace="~{conclusion/sideber}"></aside>
	
	<main>
		
		<h2>アカウント情報変更</h2>
		
		<div th:each="errer : ${errers}" th:text="${errer}" class="errer"></div>
		
		<form th:action="@{/account/edit}" method="post">
		
		<table border="1">
			<tr>
				<th>名前</th>
				<td>
					<input type="text" name="userName" th:value="${user.userName}">
				</td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td>
					<input type="text" name="email" th:value="${user.email}">
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="password" name="password">
				</td>
			</tr>
			<tr>
				<th>パスワード確認</th>
				<td>
					<input type="password" name="passwordConfirm">
				</td>
			</tr>
		</table>
		<p style="color: #777; font-size: 12px;">※パスワードを変更しない場合は、未入力で大丈夫です</p>
		
		<div id="edge">
			
			<a class="return" th:href="@{/account}">戻る</a>
			
			<input class="button" type="submit" value="更新">
		
		</form>
			
		</div>
		
	</main>
	
	</div>
	
	<footer th:replace="~{conclusion/footer}"></footer>
</body>
</html>