<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン画面</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

	<header>ログイン</header>

	<main>
		<p th:text="${errerMessage}"></p>
		<form th:action="@{/login}" method="post">
			メールアドレス：<input type="text" name="email">
			<br>パスワード　　：<input type="password" name="password">
			<br><input type="submit" value="ログイン">
		</form>

		<a th:href="@{/register}">新規登録はこちら</a>
	</main>

</body>

</html>