<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<header th:replace="~{conclusion/header}"></header>
	
	<div th:replace="~{conclusion/navigation}"></div>
	
	<div id="container">
	
	<aside th:replace="~{conclusion/sideber}"></aside>
	
	<main>
		
		<h2>アカウント情報</h2>
		
		<table border="1">
			<tr>
				<th>名前</th>
				<td th:text="${user.userName}"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td th:text="${user.email}"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>****</td>
			</tr>
		</table>
		
		<div id="edge">
			
			<form th:action="@{/account/edit}" method="get">
				<button>編集</button>
			</form>
			<form th:action="@{/account/delete}" method="post" onsubmit="return confirm('本当にアカウントを削除しますか?')">
				<button th:id="delete">アカウント削除</button>
			</form>
		
		</div>
		
	</main>
	
	</div>
	
	<footer th:replace="~{conclusion/footer}"></footer>
</body>
</html>