@charset "UTF-8";
body, html{
  margin: 0;
  max-height: 100vh;
  color: #333333;
}

body{
	display: flex;
	flex-direction: column;
}


header{
	background-color: #aaaaaa;
	font-size: 250%;
	color: white;
	font-family: "Meiryo", sans-serif;
	padding: 1%;
}

footer{
	font-family: "Meiryo", sans-serif;
	background-color: #aaaaaa;
	color: white;
	text-align: center;
}

#container{
	display: flex;
}

aside{
	width: 20%;
	min-width: 0;
	max-width: 200px;
	text-align: left;
}

aside, ul{
	list-style: none;
	padding-left: 1%;
}

main{
	margin: 1%;
	padding: 2%;
	border: #aaaaaa double 5px;
	flex: 1;
	min-width: 450px;
}

#edge{
	display: flex;
	justify-content: space-between;
}

table{
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

th, td{
	padding: 1%;
}

.income{
	background-color: #eeeeff;
}

.expense{
	background-color: #ffeeee;
}

table.total{
	text-align: center;
}

table.total td{
	border-bottom: 2px solid black;
}

.errer{
	color: red;
}

.leftRight{
	display: flex;
	margin: 1% 0;
}

.leftRight button{
	
}

nav a{
	background-color: gray;
	color: white;
	padding: 5px;
	border-radius: 5px;
	border: black solid 1px;
	margin: 1% 0 1%;
	text-decoration: none;
}

.genreNav{
	height: 40px;
}

.genreNav a{
	margin: 0 0 30px;
}

.center{
	text-align: center;
}

.center form{
	margin: 2%;
}