@charset "UTF-8";
body, html{
  margin: 0;
  max-height: 100vh;
}

body{
	display: flex;
	flex-direction: column;
}


header{
	background-color: #aaaaaa;
	font-size: 250%;
	color: white;
	font-family: "Meiryo", sans-serif;
	padding: 1%;
}

footer{
	font-family: "Meiryo", sans-serif;
	background-color: #aaaaaa;
	color: white;
	text-align: center;
}

#container{
	display: flex;
}

aside{
	display: flex;
	width: 20%;
	min-width: 0;
	max-width: 200px;
	text-align: left;
}

aside, ul{
	list-style: none;
	padding-left: 1%;
}

main{
	margin: 1%;
	padding: 2%;
	border: #aaaaaa double 5px;
	flex: 1;
}

#edge{
	display: flex;
	justify-content: space-between;
}

#edge a{
	text-decoration: none;
}

table{
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

th, td{
	padding: 1%;
}

.income{
	background-color: #eeeeff;
}

.expense{
	background-color: #ffeeee;
}

table.total{
	text-align: center;
}

table.total td{
	border-bottom: 2px solid black;
}

.errer{
	color: red;
}

button{
	width: 100%;
}

.leftRight{
	display: flex;
}
