<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ジャンル追加画面</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	
	<header th:replace="~{conclusion/header}"></header>

	<div id="container">
	
		<aside th:replace="~{conclusion/sideber}"></aside>
	
	<main>
	<form th:action="@{/genres/add}" method="post">
		<table border="1">
			<tr>
				<th>ジャンル名</th>
				<td>
					<input type="text" name="genreName">
				</td>
			</tr>
			<tr>
				<th>収支</th>
				<td>
					収入<input type="radio" name="isIncome" value="true" checked>
					支出<input type="radio" name="isIncome" value="false">
				</td>
			</tr>
		</table>
		<input type="submit" value="登録">
	</form>
	<a th:href="@{/genres}">戻る</a>
	</main>
	
	</div>
	
	<footer th:replace="~{conclusion/footer}"></footer>
	
</body>
</html>