<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ジャンル編集画面</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	
	<header th:replace="~{conclusion/header}"></header>

	<div id="container">
	
		<aside th:replace="~{conclusion/sideber}"></aside>
	
	<main>
		
		<th:block th:if="${errer}">
			<div th:text="${errer}" class="errer"></div>
		</th:block>
		
	<form th:action="@{/genres/{id}/edit(id = ${genre.id})}" method="post">
		<table border="1">
			<tr>
				<th>ジャンル名</th>
				<td>
					<input type="text" name="genreName" th:value="${genre.genreName}">
				</td>
			</tr>
			<tr>
				<th>収支</th>
				<td>
					収入<input type="radio" name="isIncome" value="true" th:checked="${genre.isIncome == true}">
					支出<input type="radio" name="isIncome" value="false" th:checked="${genre.isIncome == false}">
				</td>
			</tr>
		</table>
		<div id="edge">
			<a th:href="@{/genres}">戻る</a>
			<input type="submit" value="更新">
		</div>
	</form>
	
	</main>
	
	</div>
	
	<footer th:replace="~{conclusion/footer}"></footer>
	
</body>
</html>