<aside>
	<ul>
		<li>
			<a th:href="@{/items}">収支管理</a>
		</li>
		<li>
			<a th:href="@{/genres}">ジャンル管理</a>
		</li>
		<li>
			<a th:href="@{/budgets}">予算設定・管理</a>
		</li>
		<li>
			<a th:href="@{/calendar/{year}/{month}(year=${year}, month=${month})}">カレンダー</a>
		</li>
		<li>
			<a th:href="@{/detil/{year}/{month}(year=${year}, month=${month})}">月ごとの収支詳細</a>
		</li>
<!--		<li>-->
<!--			<a th:href="@{/comparison/{year}(year=${year})}">月ごとの収支比較</a>-->
<!--		</li>-->
		<li>
			<a th:href="@{/account}">アカウント</a>
		</li>
		<li>
			<a th:href="@{/logout}">ログアウト</a>
		</li>
	</ul>
</aside>